<div>
    <h3>New Registration</h3>
    <hr>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <mat-form-field class="full-width">
        <input matInput inputmode="text" formControlName="fullname" id="fullname" placeholder="Full Name">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput inputmode="email" formControlName="email" id="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" formControlName="password" id="password" placeholder="Password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="number" size="10" formControlName="phno" id="phno" placeholder="Phone No.">
      </mat-form-field>
      <button mat-raised-button 
        color="primary" 
        class="full-width" 
        type="submit"
        [disabled]="!signUpForm.valid"
      >Register</button>
    </form>
  </div>
  