<div class="product-details">
  <div class="product-name">
    <h2>{{product.name}}</h2>
  </div>
  <hr>
  <div class="product-img">
    <img [src]="product.img" alt="product name">
  </div>
  <div class="product-other-details">
    <div>
      <h3>Price : {{product.price}} ({{product.discount}}% off)</h3>
      <h4>Available Qty : {{product.qty}}</h4>
    </div>
    <p>{{product.description}}</p>
    
  </div>
  <div>
    <button class="add-to-cart" mat-raised-button color="primary" [disabled]="status" (click)="openDialog()">Add to cart</button>
  </div>
</div>
