.product-details {
    margin-left: 8px;
    border: 1px solid transparent;
}

div > h3, h4  {
    margin: 2px;
}

img {
    max-height: 350px;
    max-height: 350px;
}

.product-other-details {
    float: left;
}

.add-to-cart {

    font-size: 20px;
    width: 130px;
    height: 40px;
    float: right;
    margin-right: 20px;
}
